Scrape the NASA Mars News Site and collect the latest News Title and Paragraph Text. Assign the text to variables that you can reference later.

In [71]:
#import dependencies
from bs4 import BeautifulSoup as bs
from webdriver_manager.chrome import ChromeDriverManager
from splinter import Browser
import pandas as pd

In [72]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', ** executable_path, headless=False)

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 88.0.4324
[WDM] - Get LATEST driver version for 88.0.4324

[WDM] - Driver [C:\Users\paula\.wdm\drivers\chromedriver\win32\88.0.4324.96\chromedriver.exe] found in cache

In [9]:
url = 'https://mars.nasa.gov/news'

browser.visit(url)

In [26]:
html = browser.html

soup = bs(html, 'html.parser')

titles = soup.find_all('div', class_='content_title')

texts = soup.find_all('div', class_='article_teaser_body')

title_text = []
text_only = []

#keep only the text
for x in titles:
    title_text.append(x.text.strip())
    
for x in texts:
    text_only.append(x.text.strip())

JPL Mars Space Image

In [51]:
#These lines of code are needed to navigate to the next page

image_url = 'https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/index.html'
browser.visit(image_url)
html = browser.html
soup = bs(html, 'html.parser')

#

image_url_src = soup.find('img', class_='headerimage fade-in')['src']

url_short = image_url.split('/')

#rearrange and concatenate URL
featured_image_url = url_short[0] + '//' + url_short[1] + url_short[2] + '/' + url_short[3] + '/' + image_url_src

https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/image/featured/mars3.jpg

Mars Facts

In [56]:
facts_url = 'https://space-facts.com/mars/'
# browser.visit(facts_url_url)
# html = browser.html
# soup = bs(html, 'html.parser')

# browser.quit()

In [63]:
df = pd.read_html(facts_url)[0]

df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [67]:
df.T

,0,1,2,3,4,5,6,7,8
0,Equatorial Diameter:,Polar Diameter:,Mass:,Moons:,Orbit Distance:,Orbit Period:,Surface Temperature:,First Record:,Recorded By:
1,"6,792 km","6,752 km",6.39 × 10^23 kg (0.11 Earths),2 (Phobos & Deimos),"227,943,824 km (1.38 AU)",687 days (1.9 years),-87 to -5 °C,2nd millennium BC,Egyptian astronomers

In [66]:
mars_facts = df.to_html()

Mars Hemispheres

In [78]:
pic_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(pic_url)
# html = browser.html
# soup = bs(html, 'html.parser')

In [79]:
hemi_url =[]

links = browser.find_by_css('a.product-item h3')

for i in range(len(links)):
#     print(i)
    hemi = {}
    browser.find_by_css('a.product-item h3')[i].click()
    sample_image = browser.links.find_by_text('Sample').first
    hemi['img_url'] = sample_image['href']
    hemi['title'] = browser.find_by_css('h2.title').text
    
    hemi_url.append(hemi)
    
    browser.back()
    
    
hemi_url

[{'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg',
  'title': 'Cerberus Hemisphere Enhanced'},
 {'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg',
  'title': 'Schiaparelli Hemisphere Enhanced'},
 {'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg',
  'title': 'Syrtis Major Hemisphere Enhanced'},
 {'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg',
  'title': 'Valles Marineris Hemisphere Enhanced'}]

MongoDB and Flask Application